@use '../abstracts/mixins' as mixin;

@mixin select-class{
    .select-option{
        margin-top: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
    }
}
@mixin inpt-el-class{
    .inpt-el{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
        .field{
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
@mixin loader{
    /* HTML: <div class="loader"></div> */
    .loader {
        width: 40px;
        aspect-ratio: 1;
        --c: linear-gradient(#000 0 0);
        --r1: radial-gradient(farthest-side at bottom,#000 93%,#0000);
        --r2: radial-gradient(farthest-side at top   ,#000 93%,#0000);
        background: 
        var(--c) ,var(--r1),var(--r2),
        var(--c) ,var(--r1),var(--r2),
        var(--c) ,var(--r1),var(--r2);
        background-repeat: no-repeat;
        animation: l2 1s infinite alternate;
    }
    @keyframes l2 {
        0%,25% {
        background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    50% {
        background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    75% {
        background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
    }
    95%,100% {
        background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
        background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
    }
    }
}

@mixin button{
/* CSS */
    .button-28 {
        appearance: none;
        background-color: transparent;
        border: 1px solid #1A1A1A;
        border-radius: 10px;
        box-sizing: border-box;
        color: #3B3B3B;
        cursor: pointer;
        display: inline-block;
        @include mixin.font-family;
        font-size: 10px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 40px;
        min-width: 100px;
        outline: none;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        will-change: transform;
    }

    .button-28:disabled {
        pointer-events: none;
    }

    .button-28:hover {
        color: #fff;
        background-color: #1A1A1A;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .button-28:active {
        box-shadow: none;
        transform: translateY(0);
    }
}