@use './color' as color;

@mixin input-labels {
    label {
        color: color.$font-color;
        white-space: nowrap;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 10px;
    }
    input {
        color: color.$font-color;
        width: 20vw;
        height: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title {
    font-size: 30px;
    color: color.$font-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
