@use './color' as color;
@mixin font-family{
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
@mixin input-labels {
    label {
        color: color.$font-color;
        white-space: nowrap;
        @include font-family;
        margin-right: 10px;
    }
    input {
        color: color.$font-color;
        width: 20vw;
        height: 30px;
        @include font-family;
    }
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title {
    font-size: 30px;
    color: color.$font-color;
    @include font-family;
    font-weight: 700;
}
